@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

$font-family-sans-serif: 'Noto Sans', sans-serif;
$grid-columns: 12;
$grid-gutter-width: 30px;

$grid-breakpoints: (
  // Extra small screen / phone
    xs: 0,
  // Small screen / phone
    sm: 576px,
  // Medium screen / tablet
    md: 768px,
  // Large screen / desktop
    lg: 992px,
  // Extra large screen / wide desktop
    xl: 1400px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1340px
);

$body-bg: white;

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

.item {
  background: white;
  border: 1px solid #33333325;
}

/** Custom Table **/
.table-bidder {
  font-size: 0.8rem;

  &.table thead th {
    color: lighten(black, 40%);
    border: none;
    font-weight: bolder;
  }

  &.table tbody td {
    border: none;
    vertical-align: middle;
  }
}

.w-12-5 {
  width: 12.5% !important;
}

// Sorting
.onParentHoverShow {
  opacity: 0.25;
}

.parentHover {
  cursor: pointer;
}

.parentHover:hover {
  .onParentHoverHide {
    opacity: 0.25;
  }
  .onParentHoverShow {
    opacity: 1;
  }
}

.table-bordered th {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.table-bordered td {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
